@import url('./basics.css');
@import url('./loading-page.css');
@import url('./introduction.css');
@import url('./page-one.css');
@import url('./page-two.css');

body{
    transition: all ease 1s;
}

.hide:not(a){
    display: none;
}

body:not(.body-page-three) .content-page-3,
body:not(.body-page-three) .content-page-3 > p,
body:not(.body-page-three) .content-page-3 > div{
    opacity: 0;
}

body.body-page-three{
    background-color: lightblue;
    transition: background-color ease-in 1s;
}

body.body-page-three .content-page-3{
    opacity: 1;
    transition: opacity ease 1s;
}
body.body-page-three .content-page-3 > p{
    opacity: 1;
    transition: opacity ease 1s 2s;
}
body.body-page-three .content-page-3 > div{
    opacity: 1;
    transition: opacity ease 1s 4s;
}