@import url('./basics.css');
@import url('./loading-page.css');
@import url('./introduction.css');
@import url('./page-one.css');
@import url('./page-two.css');
@import url('./page-three.css');
@import url('./page-four.css');

body{
    transition: all ease 1s;
}

.hide:not(a){
    display: none;
}

body.body-page-five{
    background-color: thistle;
    transition: background-color ease-in 1s;
}

body:not(.body-page-five) .content-page-5,
body.body-page-five div.content-page-5 h1,
body.body-page-five div.content-page-5 div{
    opacity: 0;
}

body.body-page-five div.content-page-5 h1 {
    color: #724672;
}
body.body-page-five div.content-page-5 h1 {
    opacity: 1;
    transition: opacity ease 1s 2s;
}

body.body-page-five div.content-page-5 div {
    opacity: 1;
    transition: opacity ease 1s 4s;
}